@media screen and ( max-width: 576px) {
    .nav-main{  
        max-width: 576px;
        margin: 0 auto;
    }
    .hamburger-menu-navbr{
        display: block;
        color: white;
        font-size: 30px;
    }
    .nav-elements{
        display: none;
    }
    .nav-banner-flex{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nav-banner-details{
        width: 95%;
    }
    .nav-banner-pic{
        width: 75%;

    }
    .nav-banner-pic img{
        width: 100%;
    }
    .nav-banner-details h1{
        color: white;
        font-size: 4rem;
    }
    .banner-highlight-one{
        position: absolute;
        right: -16px;
        top: 175px;
    }
    .banner-highlight-two{
        position: absolute;
        bottom: 60px;
        right: 180px;
    }
/* habits section starts */

.habit-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
}
.habit-card{
    width: 50%;
    text-align: center;
}

/* habits section ends */


/* run-card section starts */
.run-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.run-text {
    width: 100%;
}
.run-img{
    width: 100%;
}
.run-img img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
/* run-card section end */











}

