@media screen and ( max-width: 576px) {
    .nav-main{  
        max-width: 576px;
        margin: 0 auto;
    }
    .nav-br-flex{
        width: 94%;
        margin: 0 auto;
    }
    .hamburger-menu-navbr{
        display: block;
        color: white;
        font-size: 30px;
    }
    .nav-elements{
        display: none;
    }
    .nav-banner-flex{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .nav-banner-details{
        width: 95%;
    }
    .nav-banner-pic{
        width: 75%;

    }
    .nav-banner-pic img{
        width: 100%;
    }
    .nav-banner-details h1{
        color: white;
        font-size: 4rem;
    }
    .banner-highlight-one{
        position: absolute;
        right: -16px;
        top: 175px;
    }
    .banner-highlight-two{
        position: absolute;
        bottom: 60px;
        right: 180px;
    }
/* habits section starts */

.habit-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
}
.habit-card{
    width: 50%;
    text-align: center;
}

/* habits section ends */


/* run-card section starts */
.run-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.run-text {
    width: 100%;
}
.run-img{
    width: 100%;
}
.run-img img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
/* run-card section end */


    /* BMI section starts */

    .BMI-flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
    }
    .BMI-chart-section {
        width: 100%;
    }
    .Calculate-BMI{
        width: 100%;
    }
    .BMI-input input {
        width: 35%;
    }
    .gender-box{
        width: 40%;
    }
    .activity-box{
        width: 88%;
    }

    /* BMI section ends */

    /* footer section starts */

.footer-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.footer-sec-one{
    width: 90%;
}
.footer-sec-two{
    width: 90%;
}
.footer-sec-three{
    width: 90%;
}
.footer-line{
    width: 90%;
    margin: 0 auto;
}

    /* footer section ends */






}

